.certificates-color-palette {
  &--primary {
    color: white !important;
    background-color: #5EAD4C !important;
  }
}

.jobs-color-palette {
  &--primary {
    color: white !important;
    background-color: #FF652F !important;
  }
}

.task-engines-color-palette {
  &--primary {
    color: white !important;
    background-color: #25A0CC !important;
  }
}